[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]

[requires]
python_version = "3.7"

[scripts]
variables = "python variables.py"
functions = "python functions.py"
conditions = "python conditions.py"
loops = "python loops.py"
comprehensions = "python comprehensions.py"
lambda = "python lambda.py"
class = "python class.py"
special-attributes = "python special-attributes.py"
properties = "python properties.py"
modules = "python modules.py"
